.connection {
  background-color: $ligth-black;
  padding-top: 110px;
  padding-bottom: 80px;
  text-align: center;
}

.connection__title {
  margin-bottom: 20px;
  @include font(48px, 700, 1.2);
  color: $ligth-green;
}

.connection__text {
  max-width: 500px;
  margin: 0 auto 50px;
  @include font(16px, 400, 1.4);
  color: $white;
}

.connection__link {
  display: inline-block;
  padding: 10px 20px 10px 50px;
  @include font(16px, 700, 1.1);
  color: $black;
  text-decoration: none;
  border-radius: 6px;
  background-color: $green;
  background-image: url("../img/message.svg");
  background-repeat: no-repeat;
  background-position: 20px 6px;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: $dark-green;
  }

  &:focus {
    background-color: $dark-green;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .connection {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .connection__title {
    font-size: 36px;
  }
}

@media (max-width: 440px) {
  .connection {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .connection__title {
    font-size: 28px;
  }

  .connection__text {
    font-size: 14px;
  }
}