@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/Ibmplexmonotext.woff2') format('woff2'), url('../fonts/Ibmplexmonotext.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:  url('../fonts/Ibmplexmonosemibold.woff2') format('woff2'), url('../fonts/Ibmplexmonosemibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src:  url('../fonts/Ibmplexmono.woff2') format('woff2'), url('../fonts/Ibmplexmono.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}